*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  text-decoration: none;
  list-style: none;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: #fff; /* Color de fondo */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  position: relative; /* Asegúrate de que el header no esté superpuesto */
  z-index: 10; /* Prioridad en la pila de elementos */
}

header h2{
  font-size: 2rem;
  font-weight: bold;
}
header a{
  color: black;
}

.nav{
  margin-top: 15px;
  
}

.icon{
  display: flex;
  margin-top: 10px;
  cursor: pointer;
}

.icon h2{
  margin-top: 3px;
}

.icon img{
  margin-top: -8px;
  width: 50px;
}

.nav ul{
  display: flex;
}

.nav li{
  margin: 0 30px;
}

nav ul li a:hover {
  color: skyblue;
}

.banner{
  width: 100%;
  height: auto;
  display: inline-block
}

.banner img{
  width: 140%;
  height: 500px;
  margin-bottom: 5rem;
}

body{
  height: 100vh;
}

main {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.form-container {
  background-color: #0000000a;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin-top: 10rem;
}

.container{
  margin: 3rem 0;
  margin-right: 4rem;
  width: 900px;
  height: auto;
  position: relative;
  border-radius: 15px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
}


.container p {
  margin-top: 2rem;
  line-height: 30px;
}

.about-us img{
  width: 350px;
  padding-left: 4rem;
  margin-top: 2rem;
}

.info{
  margin-top: 3rem; 
}

.info p{
  text-align: justify;
}

.info h2{
  margin-bottom: 2rem;
}

.info img{
  margin-top: 3rem;
  margin-left: 3rem;
  width: 500px;
}

form h2 {
  text-align: center;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-bottom: 8px;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #45a049;
}

.footer{
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}

.social{
  display:center;
  gap: 12px;
  margin-bottom: 25px;
}

.social ion-icon{
  border:  1px solid #C9CCCB;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

