* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  line-height: 1.6;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  position: relative; 
  z-index: 1;
  cursor: pointer;
}

header h2{
  font-size: 2rem;
  font-weight: bold;
}

header a{
  color: black;
}



.icon img{
  margin-top: -8px;
  width: 50px;
}

.nav ul{
  display: flex;
}
.icon{
  display: flex;
}

.nav ul{
  display: flex;
}

.nav li{
  margin: 0 20px;
}

.logo {
  width: 100px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

nav ul li {
  display: inline;
}

nav ul li a {
  text-decoration: none;
  padding: 10px;
  border-radius: 5px;
}

nav ul li a:hover {
  color: skyblue;
}

main {
  margin: 20px;
  display: flex;
  justify-content: center;
}

.banner2{
  width: 100%;
}

.banner2 img{
  width: 100%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.perfil {
  background-color: white;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  width: 50%;
}

.perfil img{
  margin-top: 3rem;
  width: 200px;
  margin-bottom: 50px;
}

.profile-info, .pet-info, .actions {
  margin-bottom: 20px;
}

h2, h3 {
  color: #141414;
}

h3{
  padding: 2rem 0;
}

.actions ul {
  list-style: none;
  padding-left: 0;
}

.actions ul li {
  margin: 10px 0;
}

.actions ul li a {
  color: skyblue;
  text-decoration: none;
}

.actions ul li a:hover {
  text-decoration: underline;
}

footer {
  display: block;
  margin: 0 auto;
  text-align: center;
}

.footer{
  display: block;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  
}

.social{
  display:center;
  gap: 12px;
  margin-bottom: 25px;
}

.social ion-icon{
  border:  1px solid #C9CCCB;
  border-radius: 6px;
  padding: 8px;
  cursor: pointer;
}

