<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.timetopet.com/dist/images/brand/icon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css" />
    <title>PetPlus</title>
</head>

<body>
  <header>
    <div class="icon" onclick="window.location.href='index.html'">
      <img src="https://www.timetopet.com/dist/images/brand/icon.png" alt="">
      <h2>PetsPlus</h2>
    </div>
    <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
    <div class="nav" id="navMenu">
      <nav>
        <ul>
          <li><a href="./index.html">Inicio</a></li>
          <li><a href="./consult.html">Nosotros</a></li>
          <li><a href="./planner.html">Agenda</a></li>
          <li><a href="./register.html">Registro</a></li>
          <li><a href="./session.html">Sesión <ion-icon name="person-circle-outline"></ion-icon></a></li>
        </ul>
      </nav>
    </div>
  </header>
  
  
  <div class="title">
    <h2>PetsPlus</h2>
  </div>
    <main>
        <div class="container">
          <img class= "imagehome" src="../static/images/home_pets.png">
            <div class="info">
            <h2>¿Eres un amante de los animales?</h2> <br><br>
            <p> Entonces PetPlus es lo que estás buscando, somos una empresa especializada en servicios de alta calidad para mascotas
                ubicada en Bogotá.</p> <br>
                <ul>
                    <li >- Consultas veterinarias</li>
                    <li >- Baño y peluquería</li>
                    <li >- Guardería</li> <br>
                </ul>    
            <h4>¡Nos aseguramos que tus mascotas reciban el mejor cuidado posible!</h4><br><br>
            <button class="btn" onclick="window.location.href='session.html'">Agendar servicio</button>

            </div>
         </div>
    </main>
    <footer>
        <div class="footer">
            <div class="social">
                <ion-icon name="logo-twitter"></ion-icon>
                <ion-icon name="logo-facebook"></ion-icon>
                <ion-icon name="logo-whatsapp"></ion-icon>
                <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <p>PetsPlus 2024 ®</p>
            <p>Todos los derechos reservados.</p>
        </div>
    </footer>
    <script src="../static/js/script.js"></script>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    
</body>

</html>