<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="shortcut icon"
      href="https://www.timetopet.com/dist/images/brand/icon.png"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="../static/css/planner.css" />
    <title>PetPlus</title>
  </head>
  <body>
    <header>
      <div class="icon" onclick="window.location.href='index.html'">
        <img src="https://www.timetopet.com/dist/images/brand/icon.png" alt="">
        <h2>PetsPlus</h2>
      </div>
      <div class="hamburger" onclick="toggleMenu()">&#9776;</div>
      <div class="nav" id="navMenu">
        <nav>
          <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./consult.html">Nosotros</a></li>
            <li><a href="./planner.html">Agenda</a></li>
            <li><a href="./register.html">Registro</a></li>
            <li><a href="./session.html">Sesión <ion-icon name="person-circle-outline"></ion-icon></a></li>
          </ul>
        </nav>
      </div>
      
    </header>
  
    <div class="general">
      <h2>Agenda Semanal de Citas</h2>
      <p>
        Aquí encontrarás todos los días disponibles con los que contamos para
        atenderte.
      </p>
      <p>
        En PetPlus, nos dedicamos a cuidar y atender a tus mascotas en cualquier
        momento. Trabajamos las 24 horas del día, los 7 días de la semana, para
        garantizar que tu compañero peludo reciba la atención que merece, sin
        importar la hora. Nuestro equipo de profesionales está siempre
        disponible para brindarle el mejor cuidado y apoyo a tu mascota, porque
        sabemos que su bienestar es lo más importante. ¡Confía en PetPlus para
        el cuidado de tu mejor amigo!
      </p>
      <p>
        Nuestra agenda semanal se organiza para ofrecerte flexibilidad en la
        programación de tus citas, ya sea para chequeos de rutina, vacunaciones,
        consultas especializadas o emergencias. Puedes reservar tu cita con
        anticipación a través de nuestra página web o mediante nuestras redes
        sociales, asegurando que tu visita sea lo más conveniente posible.
      </p>
      <p>
        Para facilitar tu experiencia, también ofrecemos recordatorios de citas
        por mensaje de texto o correo electrónico, para que nunca te pierdas una
        consulta importante.
      </p>
      <p>
        Recuerda que en caso de emergencia, puedes contactarte directamente con
        nosotros a través de nuestras diferentes redes sociales y con gusto
        atenderemos tu solicitud. Nuestro equipo está preparado para manejar
        situaciones críticas y brindarle a tu mascota la atención que necesita
        en el momento adecuado.
      </p>
      <img src="../static/images/abajo.jpg" alt="" />
    </div>

    <table class="agenda">
      <thead>
        <tr>
          <th>Día</th>
          <th>Disponibilidad</th>
          <th>Horas Disponibles</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Lunes</td>
          <td>Ocupado</td>
          <td>No disponible</td>
        </tr>
        <tr>
          <td>Martes</td>
          <td>Disponible</td>
          <td>9:00 - 11:00, 14:00 - 16:00</td>
        </tr>
        <tr>
          <td>Miércoles</td>
          <td>Ocupado</td>
          <td>No disponible</td>
        </tr>
        <tr>
          <td>Jueves</td>
          <td>Disponible</td>
          <td>10:00 - 12:00, 15:00 - 17:00</td>
        </tr>
        <tr>
          <td>Viernes</td>
          <td>Disponible</td>
          <td>9:00 - 12:00</td>
        </tr>
        <tr>
          <td>Sábado</td>
          <td>Ocupado</td>
          <td>No disponible</td>
        </tr>
        <tr>
          <td>Domingo</td>
          <td>Disponible</td>
          <td>10:00 - 13:00</td>
        </tr>
      </tbody>
    </table>
    <footer>
      <div class="footer">
        <div class="social">
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
        <p>PetsPlus 2024 ®</p>
        <p>Todos los derechos reservados.</p>
      </div>
    </footer>
    <script src="../static/js/script.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
