<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.timetopet.com/dist/images/brand/icon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/register.css" />
    <title>PetPlus</title>
</head>
  <body>
    <header>
      <div class="icon" onclick="window.location.href='index.html'">
        <img
          src="https://www.timetopet.com/dist/images/brand/icon.png"
          alt=""
        />
        <h2>PetsPlus</h2>
      </div>
      <div class="nav">
        <nav>
          <ul>
            <li><a href="./index.html">Inicio</a></li>
            <li><a href="./consult.html">Nosotros</a></li>
            <li><a href="./planner.html">Agenda</a></li>
            <li><a href="./register.html">Registro</a></li>
            <li><a href="./session.html">sesion <ion-icon name="person-circle-outline" ></ion-icon></a></li>
          </ul>
        </nav>
      </div>
    </header>

    <main>
      <div class="container">
        <h1>Registro de mascotas</h1>
        <div class="img">
          <img
            src="https://segurosexito.vtexassets.com/arquivos/reclamos-seguros-mascotas.png"
            alt=""
          />
        </div>
        <div class="form-container">
          <form action="#" method="post">
            <h2>¡Registra a tu peludito!</h2>
            <div class="inputs">
              <div class="form_pet">
                <label for="service">Servicio a solicitar</label>
                <select id="service">
                  <option>Consulta veterinaria</option>
                  <option>Baño y peluquería</option>
                  <option>Peluquería</option>
                  <option>Guardería</option>
                </select>

                <label for="pettype">Tipo de mascota</label>
                <select id="pettype" name="pettype" required>
                  <option>Gato</option>
                  <option>Perro</option>
                  <option>Otro</option>
                </select>

                <label for="namepet">Nombre del peludo</label>
                <input
                  type="text"
                  id="namepet"
                  placeholder="Mascota"
                  name="namepet"
                  required
                />

                <label for="date">Fecha</label>
                <input type="date" id="date" name="date" required />

                <label for="time">Hora</label>
                <input type="datetime" id="time" name="time" required />

                <label for="place">Sede</label>
                <select id="place" name="place" required>
                  <option>Sede centro</option>
                  <option>Sede norte</option>
                  <option>Sede sur</option>
                </select>
              </div>
              <div class="form_human">
                <label for="name">Nombre del dueño</label>
                <input type="text" id="name" name="name" required />

                <label for="id">Número de cédula</label>
                <input type="id" id="id" name="id" required />

                <label for="mail">Correo</label>
                <input
                  type="id"
                  id="id"
                  name="id"
                  placeholder="Email"
                  required
                />

                <label for="phone">Celular</label>
                <input type="phone" id="phone" name="phone" required />
              </div>
            </div>
            <button type="submit">Solicitar servicio</button>
          </form>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <div class="social">
          <ion-icon name="logo-twitter"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-whatsapp"></ion-icon>
          <ion-icon name="logo-instagram"></ion-icon>
        </div>
        <p>PetsPlus 2024 ®</p>
        <p>Todos los derechos reservados.</p>
      </div>
    </footer>
    <script src="script.js"></script>
    <script
      type="module"
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule
      src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
    ></script>
  </body>
</html>
