<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="https://www.timetopet.com/dist/images/brand/icon.png" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"rel="stylesheet">
    <link rel="stylesheet" href="../static/css/session.css" />
    <title>PetPlus</title>
</head>
  <body>
    <header>
      <div class="icon" onclick="window.location.href='index.html'">
        <img
          src="https://www.timetopet.com/dist/images/brand/icon.png"
          alt=""
        />
        <h2>PetsPlus</h2>
      </div>
      <div class="nav">
        <nav>
          <ul>
            <li><a href="./index.html">Inicio</a/li>
            <li><a href="./consult.html">Nosotros</a></li>
            <li><a href="./planner.html">Agenda</a></li>
            <li><a href="./register.html">Registro</a></li>
            <li><a href="./session.html">sesion <ion-icon name="person-circle-outline" ></ion-icon></a></li>
          </ul>
        </nav>
      </div>
    </header>
    <main>
      <div class="container">
        <div class="container-form">
          <form action="./user.html" class="sign">
            <h2>Iniciar sesion</h2>
            <div class="social">
              <ion-icon name="logo-twitter"></ion-icon>
              <ion-icon name="logo-facebook"></ion-icon>
              <ion-icon name="logo-whatsapp"></ion-icon>
              <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <span>Use su correo y contraseña</span>
            <div class="container-input">
              <ion-icon name="mail-outline"></ion-icon>
              <input type="text" placeholder="Email" />
            </div>
            <div class="container-input">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <input type="password" placeholder="Password" />
            </div>
            <a href="#">Olvidaste tu contraseña?</a>
            <button class="btn">iniciar sesion</button>
          </form>
        </div>
        <div class="container-form">
          <form class="sign-up" action="./register.html">
            <h2>Registrarse</h2>
            <div class="social">
              <ion-icon name="logo-twitter"></ion-icon>
              <ion-icon name="logo-facebook"></ion-icon>
              <ion-icon name="logo-whatsapp"></ion-icon>
              <ion-icon name="logo-instagram"></ion-icon>
            </div>
            <span>Use su correo para registrarse</span>
            <div class="container-input">
              <ion-icon name="person-outline"></ion-icon>
              <input type="text" placeholder="Nombre" />
            </div>
            <div class="container-input">
              <ion-icon name="mail-outline"></ion-icon>
              <input type="text" placeholder="Email" />
            </div>
            <div class="container-input">
              <ion-icon name="lock-closed-outline"></ion-icon>
              <input type="password" placeholder="Password" />
            </div>
            <button class="btn btn1">Registrarse</button>
          </form>
        </div>

        <div class="container-welcome">
          <div class="welcome-sign-up welcome">
            <h3>¡Bienvenido!</h3>
            <p>
              Ingrese sus datos personales para usar todas las funciones del
              sitio
            </p>
            <button class="btn" id="btn-up">Registrarse</button>
          </div>

          <div class="welcome-sign-in welcome">
            <h3>¡Hola!</h3>
            <p>
              Regístrese con sus datos personales para usar todas las funciones
              del sitio
            </p>
            <button class="btn" id="btn-in">Iniciar Sesión</button>
          </div>
        </div>
      </div>
    </main>
    <footer>
      <div class="footer">
        <div class="social">
            <ion-icon name="logo-twitter"></ion-icon>
            <ion-icon name="logo-facebook"></ion-icon>
            <ion-icon name="logo-whatsapp"></ion-icon>
            <ion-icon name="logo-instagram"></ion-icon>
        </div>
        <p>PetsPlus 2024 ®</p>
        <p>Todos los derechos reservados.</p>
    </div>
  </footer>
  <script src="../static/js/script.js"></script>
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
  </body>
</html>
